<div class="box col-md-8">
	<div class="box-title">
		<h3>Activity</h3>
	</div>
	<div class="box-content nopadding">
		<ul class="messages">
			<li>
				<div class="image">
					<img src="assets/images/demo/user-2.jpg" alt="">
				</div>
				<div class="message">
					<span class="caret"></span>
					<span class="time pull-right">12 minutes ago</span>
					<p><span class="name">Jane Doe</span> Lorem ipsum aute ut ullamco et nisi ad.</p>
				</div>
			</li>
			<li>
				<div class="image">
					<img src="assets/images/demo/user-1.jpg" alt="">
				</div>
				<div class="message">
					<span class="caret"></span>
					<span class="time pull-right">12 minutes ago</span>
					<p><span class="name">Jane Doe</span> Lorem ipsum aute ut ullamco et nisi ad.</p>
				</div>
			</li>
			<li>
				<div class="image">
					<img src="assets/images/demo/user-3.jpg" alt="">
				</div>
				<div class="message">
					<span class="caret"></span>
					<span class="time pull-right">12 minutes ago</span>
					<p><span class="name">Jane Doe</span> Lorem ipsum aute ut ullamco et nisi ad.</p>
				</div>
			</li>
			
		</ul>
	</div>
</div>