<div class="box box-color box-bordered col-md-5">
	<div class="box-title">
		<h3><i class="fa fa-info"></i> Information</h3>
	</div>
	<div class="box-content nopadding">
		<form class="create-form form-horizontal form-bordered">
			<div class="form-group">
				<label class="control-label col-sm-4">Name</label>
				<div class="col-sm-8">
					<p class="form-control-static">
						<a href="javascript:;" 
							data-name="name"><%= _.escape(name) %></a>
					</p>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-4">Description</label>
				<div class="col-sm-8">
					<p class="form-control-static">
						<a href="javascript:;" 
							data-name="desc" data-type="textarea"><%= _.escape(desc) %></a>
					</p>
				</div>
			</div>
		</form>
	</div>
</div>