<div class="box box-color box-bordered col-md-4">
	<div class="box-title">
		<h3 class="bold">Labels</h3>
	</div>
	<div class="box-content nopadding">
		<ul class="list-group" style="margin-bottom: 0;">
			<li class="list-group-item">
				<i class="fa fa-tag"></i>&nbsp;
				<span>Cras justo odio</span>
				<a href="#" class="pull-right" title="Delete this label">
					<i class="fa fa-times"></i>	
				</a>
			</li>
			<li class="list-group-item nopadding noborder">
				<form>
					<input type="text" class="form-control input-lg"  placeholder="New label" />
				</form>
			</li>
		</ul>
	</div>
</div>