<div class="container-fluid" id="wrapper">
  <aside id="left" v-show="showSidebar", style="display: none;">
    <form class="search-form" onsubmit="return false;">
      <div class="search-pane">
        <input type="text" name="search" placeholder="Search here..." />
        <button type="submit"><i class="fa fa-search"></i></button>
      </div>
    </form>
    
    <div class="subnav">
      <div class="subnav-title">
        <span>Navigation</span>
      </div>
      <ul class="subnav-menu">
        <li>
          <a href="#/">
            <i class="fa fa-desktop"></i>&nbsp;
            Today
          </a>
        </li>
        <li>
          <a href="#/projects">
            <i class="fa fa-cubes"></i>&nbsp;
            Projects
          </a>
        </li>
        <li>
          <a href="#/people">
            <i class="fa fa-users"></i>&nbsp;
            People
          </a>
        </li>
        <li>
          <a href="#/calendar">
            <i class="fa fa-calendar"></i>&nbsp;
            Calendar
          </a>
        </li>
      </ul>
    </div>
  </aside>
  
  <main id="main">
    <component v-bind:is="content" />
  </main>
  
  <login-modal v-bind:show.sync="showModal"></login-modal>
</div>