<div class="page-header">
	<div class="pull-left">
		<h1>
			<i class="fa fa-cube"></i>
			<span><%= _.escape(model.name) %></span>
			<small><%= _.escape(subtitle) %></small>
		</h1>
	</div>
	<div class="pull-right">
		<ul class="minitiles">
			<li class="orange">
				<a href="#/projects/<%= model.id %>" title="Overview">
					<i class="fa fa-home"></i>
				</a>
			</li>
			<li class="blue" title="Tasks">
				<a href="#/tasks/<%= model.id %>">
					<i class="fa fa-tasks"></i>
				</a>
			</li>
			<li class="lightgrey">
				<a href="#/projects/<%= model.id %>/config" title="Configuration">
					<i class="fa fa-cog"></i>
				</a>
			</li>
			
		</ul>
	</div>
</div>
<div class="row"></div>