<div class="subnav-title">
	<span>Projects</span>
	<a href="#" class="pull-right add-project-btn" title="Add new project"
		data-toggle="modal" data-target="#add-project-dialog">
		<i class="fa fa-plus-circle"></i>
	</a>
</div>
<ul class="subnav-menu"></ul>

<div class="modal" id="add-project-dialog" role="dialog" aria-labelledby="modal-dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add new project</h4>
      </div>
      <div class="modal-body">
        <form class="create-form">
            <div class="form-group">
                <label for="project-name-field">Project name</label>
                <input type="text" class="form-control" id="project-name-field" name="name" required="true" />
            </div>
            <div class="form-group">
                <label for="project-desc-field">Description</label>
                <textarea id="project-desc-field" class="form-control" name="desc" rows="5"></textarea>
            </div>
            <div class="submit text-right">
                <input type="submit" value="Create" class='btn btn-sm btn-success create-project-btn' />
                &nbsp;Or&nbsp;
                <a href="javascript:;" data-dismiss="modal">Cancel</a>
            </div>
        </form>
      </div>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->