/*
 *
 */

@import url('plugins.css');

@import url('design.css');
@import url('theme.css');

/* custom styles --------------------------------*/

#navigation #brand {
    background-image: none; 
}

#left a.add-project-btn {
    line-height: 24px;
    margin-right: 10px;
    font-size: 16px; 
}

#left .projects-empty-message {
    padding-left: 27px;
}

.page-header {
    border-bottom: 1px solid #ddd;
}

.table.task-list tfoot > tr:hover > td {
    background: #fff;
}
.table.task-list > tbody > tr:hover {
    cursor: pointer;
}
.table.task-list > tbody > tr:first-child > td {
    border-top: none;
}