/**
 * 
 */

@import url('plugins.css');

@import url('design.css');
@import url('theme.css');

/* custom styles --------------------------------*/

body {
    background-color: #fff;
}

#navigation .container-fluid {
    display: none;
}

#navigation #brand {
    background-image: none; 
}

#left {
    left: -200px;
}

#left .add-project-btn {
    font-size: 17px;
    padding-right: 10px;
    line-height: 24px;
}

#main {
    margin-left: 200px;
}

#main .page-header {
    border-bottom-width: 1px;
    border-color: #ddd;
}

.box.project .box-title h3 i {
    color: orange;
    margin: 0;
}

.box.project .box-title .actions .btn:hover {
    background-color: #2c5e7b;
}

.box.project .box-content {
    min-height: 150px;
}

.wait {
    opacity: .3 !important;
}

.noborder {
    border: none !important;
}

.table-tasks tr.select > td {
    background-color: rgba(217, 237, 247, 0.6);
}

.table-tasks > tbody > tr > td,
.table-tasks > tfoot > tr > td {
    border-top: none;
    border-bottom: 1px solid #ddd;
}

.table-tasks i.fa-caret-right {
    display: none;
}

.table-tasks tr.select i.fa-caret-right {
    display: inline;
}

.table-tasks td.table-assignee {
    padding: 6px;
    width: 40px;
}

.table-tasks td.table-assignee img {
    border: 1px solid #888;
}

.table-tasks > tfoot > tr > td {
    padding: 4px 0 2px;
}

.table-tasks .done span.task {
    text-decoration: line-through;
}

.task-detail .lead {
    margin-bottom: 10px;
}

.task-detail .lead .editable-input,
.task-detail .lead .form-group,
.task-detail .lead .form-control,
.task-detail .lead .editable-container {
    width: 100%;
}

.task-detail .lead .form-control {
    height: 31px;
    font-size: 21px;
    border: none;
    padding: 0;
    margin-top: -8px;
    border-bottom: 1px solid crimson;
}

.task-detail .lead .editable-clear-x {
    top: 30%;
}

.task-detail .row.field {
    line-height: 40px;
}

.activity-stream strong {
    color: #777;
}