/**
 * 
 */

@import url('plugins.css');

@import url('design.css');
@import url('theme.css');

/* custom styles --------------------------------*/

body {
    background-color: #fff;
}

#navigation .container-fluid {
    display: none;
}

#navigation #brand {
    background-image: none; 
}

#left {
    left: -200px;
}

#left .add-project-btn {
    font-size: 17px;
    padding-right: 10px;
    line-height: 24px;
}

#main {
    margin-left: 200px;
}

#main .page-header {
    border-bottom-width: 1px;
}

.box.project .box-title h3 i {
    color: orange;
    margin: 0;
}

.box.project .box-title .actions .btn:hover {
    background-color: #2c5e7b;
}

.box.project .box-content {
    min-height: 150px;
}

.wait {
    opacity: .3 !important;
}

.noborder {
    border: none !important;
}