<td class="table-icon">
	<input type="checkbox" class="selectable" <%= (done ? "checked" : "") %> />
</td>
<td class="table-icon">
	<a href="javascript:;" class="sel-star<%= (flag) ? ' active' : '' %>">
		<i class="fa fa-star"></i>
	</a>
</td>
<td class="<%= (done) ? 'done' : '' %>">
	<span class="task"><%= _.escape(name) %></span>
	<% if ( label_id ) { %>
	<span class="label label-warning"><i class="fa fa-tag"></i> <%= _.escape(label.name) %></span>
	<% } %>
</td>
<td class="table-icon">
	<% if ( due ) { %>
	<i class="fa fa-calendar" rel="tooltip" title="Due <%= moment(due).calendar() %>"></i>
	<% } %>
</td>
<td class="table-assignee">
	<% if ( user_id ) { %>
	<img src="assets/images/demo/user-<%= user_id %>.jpg" class="img-circle" width="25"
		rel="tooltip" title="<%= _.escape(assignee.name) %>" />
	<% } %>
</td>