<div class="page-header">
	<div class="pull-left">
		<h1>
			<i class="fa fa-cubes"></i>
			Projects
		</h1>
	</div>
	
</div>

<div class="row">
	<div class="col-md-12" style="margin-top: 15px;">
		<div class="pull-left">
			<a href="#/projects/start" class="btn btn-satgreen">
				<i class="fa fa-plus"></i> &nbsp; 
                Start a new project
			</a>
		</div>
		<div class="pull-right">
			
		</div>
	</div>
</div>

<div class="row" role="project-list">
    <template v-for="project in items">
        <div class="box projects box-bordered col-md-3">
            <div class="box-title">
                <h3><a href="#/projects/{{project.id}}">{{project.name}}</a></h3>
                <div class="actions">
                    <!--<div class="btn-group">
                        <a href="javascript:;" class="btn" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">Bookmark this project</a>
                            </li>
                        </ul>
                    </div>-->
                </div>
            </div>
            <div class="box-content">{{project.desc ? project.desc : "No description available"}}</div>
        </div>
    </template>
</div>