<aside id="left" class="hidden">
    <form class="search-form" onsubmit="return false;">
        <div class="search-pane">
            <input type="text" name="search" placeholder="Search here..." />
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </form>
    
    <div class="subnav">
        <div class="subnav-title">
            <span>Navigation</span>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="#/">
                    <i class="fa fa-desktop"></i>&nbsp;
                    Today
                </a>
            </li>
            <li>
                <a href="#/projects">
                    <i class="fa fa-cubes"></i>&nbsp;
                    Projects
                </a>
            </li>
            <li>
                <a href="#/people">
                    <i class="fa fa-users"></i>&nbsp;
                    People
                </a>
            </li>
            <li>
                <a href="#/calendar">
                    <i class="fa fa-calendar"></i>&nbsp;
                    Calendar
                </a>
            </li>
        </ul>
    </div>
</aside>
<main id="main"></main>

<div class="modal login-form">
    <div class="modal-dialog modal-sm" style="margin-top: 150px;">
        <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title text-center">Collabor8</h3>
        </div>
        <div class="modal-body">
            <form class="login-form" v-on:submit.prevent="handleSubmit">
                <div class="form-group">
                    <div class="controls">
                        <input type="email" autofocus="true" v-model='email' 
                               class='form-control' required="true" placeholder="Your Email address" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="password" id="login-pwd-field" v-model="password" 
                               class='form-control' required="true" placeholder="Your Password" />
                    </div>
                </div>
                <div class="submit">
                    <input type="submit" value="Sign in" class='btn btn-lg btn-block btn-satgreen' />
                </div>
            </form>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>