<form class='search-form' onsubmit="return false;">
    <div class="search-pane">
        <input type="text" name="search" placeholder="Search here...">
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
</form>
<div class="subnav">
    <div class="subnav-title">
        <span>Navigation</span>
    </div>
    <ul class="subnav-menu">
        <li><a href="#/">My desk</a></li>
        <li><a href="#/tasks">My tasks</a></li>
        <li><a href="#/calendar">Calendar</a></li>
    </ul>
</div>