<form class='search-form' onsubmit="return false;">
    <div class="search-pane">
        <input type="text" name="search" placeholder="Search here...">
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
</form>
<div class="subnav">
    <div class="subnav-title">
        <span>Navigation</span>
    </div>
    <ul class="subnav-menu">
        <li><a href="#/">My desk</a></li>
        <li><a href="#/tasks">My tasks</a></li>
        <li><a href="#/calendar">Calendar</a></li>
    </ul>
</div>
<div class="subnav">
    <div class="subnav-title">
        <span>Projects</span>
    </div>
    <ul class="subnav-menu">
        <li class='dropdown active'>
            <a href="#" data-toggle="dropdown">
                <span class="project-name">New project</span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#/p/new-project">Overview</a>
                </li>
                <li class="active">
                    <a href="#/p/new-project/tasks">Tasks</a>
                </li>
            </ul>
        </li>
    </ul>
</div>