<div id="navigation">
    <div class="container-fluid">
        <a href="#" id="brand">Collabor8</a>
        <div class="user">
            <ul class="icon-nav"></ul>
            <div class="dropdown">
                <a href="#" class='dropdown-toggle' data-toggle="dropdown">
                    <img src="assets/images/demo/photo1.png" alt="" width="27" height="27" class="img-circle" />
                </a>
<!--            <ul class="dropdown-menu pull-right">
                    <li>
                            <a href="#">Edit profile</a>
                    </li>
                    <li>
                            <a href="#">Account settings</a>
                    </li>
                    <li>
                            <a href="#">Sign out</a>
                    </li>
                </ul>-->
            </div>
        </div>
    </div>
</div>